interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"es-419\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"VlOGElq8C8x439FPKFMq6Q\">window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({'country_code': 'AR', 'gtm.start': new Date().getTime(),
        event: 'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"VlOGElq8C8x439FPKFMq6Q\"></script><script nonce=\"VlOGElq8C8x439FPKFMq6Q\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"browseId": "FEmusic_explore", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20260721.01.00", "hl": "en"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgs1eVoyTnlKbGUwYyjMo_7SBjIKCgJBUhIEGgAgNmLfAgrcAjIwLllUPVdmN2o3Sng0OTFQYW9fajdSd1U1YjRuRlNwU0V4TUIxanpZVEgzWlJ5RGVodDV0bkdDdkVGNmo3cjhCQVM3eFI5MjhQN0FaUVFnU1JUX051d3Q4dTFnS3M0MFc4S2p3LTBuMUZFRXdfaHVjeUFuV0hPa1NJTm9qejFYRm9YSWV0R2VIOGNvSTliRzB3ekNKU2hBbW93SER6dlczNTF4bzAxMGVoOTJaMDJwYmVKSmEyU3BSUWIwQTZWelNzTFQtb2EtRGhsYV9wUVdVbWlYRnZ1cEgxZzU0NVZRbGVyM0lQZ1RQYkIyT2tFUUpaNW1VQk5qNTJuTGFNQnFKX1Q2QW9JUjJEOEpkdVgwLUJiNENMU3RmTVhQMTE0S0J2S1hfdFFieFlMVFB6clhMY2JKVTBNVkpuM3ZFYXZZbjg1aVZOSGV2dFV1NG4zVjhRUHZheDZwVWdPZw%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/browse?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"browse_id\",\n            \"value\": \"FEmusic_explore\"\n
        \         },\n          {\n            \"key\": \"browse_id_prefix\",\n            \"value\":
        \"\"\n          },\n          {\n            \"key\": \"logged_in\",\n            \"value\":
        \"0\"\n          }\n        ]\n      },\n      {\n        \"service\": \"CSI\",\n
        \       \"params\": [\n          {\n            \"key\": \"c\",\n            \"value\":
        \"WEB_REMIX\"\n          },\n          {\n            \"key\": \"cver\",\n
        \           \"value\": \"1.20260721.01.00\"\n          },\n          {\n            \"key\":
        \"yt_li\",\n            \"value\": \"0\"\n          },\n          {\n            \"key\":
        \"GetBrowseExplorePage_rid\",\n            \"value\": \"0x0dbf4544b1c4759d\"\n
        \         }\n        ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n
        \       \"params\": [\n          {\n            \"key\": \"client.version\",\n
        \           \"value\": \"1.20000101\"\n          },\n          {\n            \"key\":
        \"client.name\",\n            \"value\": \"WEB_REMIX\"\n          }\n        ]\n
        \     }\n    ],\n    \"responseId\": \"IhMI4pn_s4zklQMVQhoHBh3sAQHD\"\n  },\n
        \ \"contents\": {\n    \"singleColumnBrowseResultsRenderer\": {\n      \"tabs\":
        [\n        {\n          \"tabRenderer\": {\n            \"endpoint\": {\n
        \             \"clickTrackingParams\": \"CAEQ8JMBGAAiEwjimf-zjOSVAxVCGgcGHewBAcPKAQTThtI8\",\n
        \             \"browseEndpoint\": {\n                \"browseId\": \"FEmusic_explore\"\n
        \             }\n            },\n            \"selected\": true,\n            \"content\":
        {\n              \"sectionListRenderer\": {\n                \"contents\":
        [\n                  {\n                    \"gridRenderer\": {\n                      \"items\":
        [\n                        {\n                          \"musicNavigationButtonRenderer\":
        {\n                            \"buttonText\": {\n                              \"runs\":
        [\n                                {\n                                  \"text\":
        \"New releases\"\n                                }\n                              ]\n
        \                           },\n                            \"clickCommand\":
        {\n                              \"clickTrackingParams\": \"CJsJELihBRgAIhMI4pn_s4zklQMVQhoHBh3sAQHDygEE04bSPA==\",\n
        \                             \"browseEndpoint\": {\n                                \"browseId\":
        \"FEmusic_new_releases\"\n                              }\n                            },\n
        \                           \"trackingParams\": \"CJsJELihBRgAIhMI4pn_s4zklQMVQhoHBh3sAQHD\",\n
        \                           \"iconStyle\": {\n                              \"icon\":
        {\n                                \"iconType\": \"MUSIC_NEW_RELEASE\"\n                              }\n
        \                           }\n                          }\n                        },\n
        \                       {\n                          \"musicNavigationButtonRenderer\":
        {\n                            \"buttonText\": {\n                              \"runs\":
        [\n                                {\n                                  \"text\":
        \"Charts\"\n                                }\n      [...]
