interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"es-419\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"IT8G8Iz3lBn2rUd_kLYpEg\">window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({'country_code': 'AR', 'gtm.start': new Date().getTime(),
        event: 'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"IT8G8Iz3lBn2rUd_kLYpEg\"></script><script nonce=\"IT8G8Iz3lBn2rUd_kLYpEg\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"browseId": "FEmusic_home", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20260721.01.00", "hl": "en"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtzOXNXNDVpN0hpcyjLo_7SBjIKCgJBUhIEGgAgbWLfAgrcAjIwLllUPWJkRHYtaFVFTVM5eXdTdkd2alBNWUVqR0VtWjdKRzRPMmZDTmx0b0NPSV8tbDZHRWJRaXBoNjI3djFDRWJUbE4wQTZMbEtMWUJqZl8tenEwLU1tR09IZzlOSkFmOWtpbzFELU1vVHlJZGhVemctRUxYcEZ6X1Byd2ZYQW9wbHZjcHdBNS1FWUhpVUk3RDVPeV8xdUlHaUhjYUVxZEVoQWtsZXg1SldpajVtZUdZb1lEMGhRMnhaZzZCRTJPUFJnWC1WQ3lLRmhKYlRsS3VvczFpb0QwdWZkamw3VVlpa3pqbjBPaF9jU05lN1JYYXlXQnNNTDExcHRBTjIwdXRUQ21SOFh3bm5wZFZLSnBDU054QVlMZFZqVzZ6Nl9Md0IzRjdEbGFiY2RhQmVXVk40eWJodXB0eHRqdWpDUlNfRDZtSXFsOExKTm9JRHdoaUtxUkE1UkZ5Zw%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/browse?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"browse_id\",\n            \"value\": \"FEmusic_home\"\n
        \         },\n          {\n            \"key\": \"browse_id_prefix\",\n            \"value\":
        \"\"\n          },\n          {\n            \"key\": \"logged_in\",\n            \"value\":
        \"0\"\n          }\n        ]\n      },\n      {\n        \"service\": \"CSI\",\n
        \       \"params\": [\n          {\n            \"key\": \"c\",\n            \"value\":
        \"WEB_REMIX\"\n          },\n          {\n            \"key\": \"cver\",\n
        \           \"value\": \"1.20260721.01.00\"\n          },\n          {\n            \"key\":
        \"yt_li\",\n            \"value\": \"0\"\n          },\n          {\n            \"key\":
        \"GetBrowseHomePage_rid\",\n            \"value\": \"0x5e7b5ef349eb60a5\"\n
        \         }\n        ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n
        \       \"params\": [\n          {\n            \"key\": \"client.version\",\n
        \           \"value\": \"1.20000101\"\n          },\n          {\n            \"key\":
        \"client.name\",\n            \"value\": \"WEB_REMIX\"\n          }\n        ]\n
        \     }\n    ],\n    \"maxAgeSeconds\": 300,\n    \"responseId\": \"IhMIzYuos4zklQMVGE1IAB0TmgA1\"\n
        \ },\n  \"contents\": {\n    \"singleColumnBrowseResultsRenderer\": {\n      \"tabs\":
        [\n        {\n          \"tabRenderer\": {\n            \"endpoint\": {\n
        \             \"clickTrackingParams\": \"CAIQ8JMBGAAiEwjNi6izjOSVAxUYTUgAHROaADXKAQS_TEVI\",\n
        \             \"browseEndpoint\": {\n                \"browseId\": \"FEmusic_home\"\n
        \             }\n            },\n            \"title\": \"Home\",\n            \"selected\":
        true,\n            \"content\": {\n              \"sectionListRenderer\":
        {\n                \"contents\": [\n                  {\n                    \"musicCarouselShelfRenderer\":
        {\n                      \"header\": {\n                        \"musicCarouselShelfBasicHeaderRenderer\":
        {\n                          \"title\": {\n                            \"runs\":
        [\n                              {\n                                \"text\":
        \"Throwback jams\"\n                              }\n                            ]\n
        \                         },\n                          \"strapline\": {\n
        \                           \"runs\": [\n                              {\n
        \                               \"text\": \"HITS FROM EVERY DECADE\"\n                              }\n
        \                           ]\n                          },\n                          \"accessibilityData\":
        {\n                            \"accessibilityData\": {\n                              \"label\":
        \"HITS FROM EVERY DECADE Throwback jams\"\n                            }\n
        \                         },\n                          \"headerStyle\": \"MUSIC_CAROUSEL_SHELF_BASIC_HEADER_STYLE_DEFAULT\",\n
        \                         \"trackingParams\": \"CLYCEIi8BCITCM2LqLOM5JUDFRhNSAAdE5oANQ==\"\n
        \                       }\n                      },\n                      \"contents\":
        [\n                        {\n                          \"musicTwoRowItemRenderer\":
        {\n                            \"thumbnailRenderer\": {\n                              \"musicThumbnailRenderer\":
        {\n                                \"thumbnail\": {\n                                  \"thumbnails\":
        [\n                                    {\n                                      \"url\":
        \"https://yt3.googleusercontent.com/CsmostRynaCZIvzJMnyzCuzjKq4518yPeLaaxXjU53ufzqjCoEtng0FJotDZJJdwhQ8hLNMv7b5Qykvy=w226-h226-l90-rj\",\n
        \                                     \"width\": 226,\n                                      \"height\":
        226\n                                    },\n                                    {\n
        \                                     \"url\": \"https://yt3.googleusercontent.com/CsmostRynaCZIvzJMnyzCuzjKq4518yPeLaaxXjU53ufzqjCoEtng0FJotDZJJdwhQ8hLNMv7b5Qykvy=w544-h544-l90-rj\",\n
        \                                     \"width\": 544,\n                                      \"height\":
        544\n                                    }\n                                  ]\n
        \                               },\n                                \"thumbnailCrop\":
        \"MUSIC_THUMBNAIL_CROP_UNSPECIFIED\",\n                                \"thumbnailScale\":
        \"MUSIC_THUMBNAIL_SCALE_ASPECT_FILL\",\n                                \"trackingParams\":
        \"CLUCEIS_AiITCM2LqLOM5JUDFRhNSAAdE5oANQ==\"\n                              }\n
        \                           },\n                            \"aspectRatio\":
        \"MUSIC_TWO_ROW_ITEM_THUMBNAIL_ASPECT_RATIO_SQUARE\",\n                            \"title\":
        {\n                              \"runs\": [\n                                {\n
        \                                 \"text\": \"Argentinian Rock Anthems\",\n
        \                                 \"navigationEndpoint\": {\n                                    \"clickTrackingParams\":
        \"CKQCEKCzAhgAIhMIzYuos4zklQMVGE1IAB0TmgA1ygEEv0xFSA==\",\n                                    \"browseEndpoint\":
        {\n                                      \"browseId\": \"VLRDCLAK5uy_nTrZv_l4MePsiP0ygfMSfJ0n1zXVsRTQE\",\n
        \                                     \"params\": \"ggMEgAKOAw%3D%3D\",\n
        \                                     \"browseEndpointContextSupportedConfigs\":
        {\n                                        \"browseEndpointContextMusicConfig\":
        {\n                                          \"pageType\": \"MUSIC_PAGE_TYPE_PLAYLIST\"\n
        \                                       }\n                                      }\n
        \                                   }\n                                  }\n
        \                               }\n                              ]\n                            },\n
        \                           \"subtitle\": {\n                              \"runs\":
        [\n                                {\n                                  \"text\":
        \"Patricio Rey y sus Redonditos de Ricota, Charly Garcia, Soda Stereo, Los
        Piojos\"\n                                }\n                              ]\n
        \                           },\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CKQCEKCzAhgAIhMIzYuos4zklQMVGE1IAB0TmgA1ygEEv0xFSA==\",\n
        \                             \"browseEndpoint\": {\n                                \"browseId\":
        \"VLRDCLAK5uy_nTrZv_l4MePsiP0ygfMSfJ0n1zXVsRTQE\",\n                                \"params\":
        \"ggMEgAKOAw%3D%3D\",\n                                \"browseEndpointContextSupportedConfigs\":
        {\n                                  \"browseEndpointContextMusicConfig\":
        {\n                                    \"pageType\": \"MUSIC_PAGE_TYPE_PLAYLIST\"\n
        \                                 }\n                                }\n                              }\n
        \                           },\n                            \"trackingParams\":
        \"CKQCEKCzAhgAIhMIzYuos4zklQMVGE1IAB0TmgA1\",\n                            \"menu\":
        {\n                              \"menuRenderer\": {\n                                \"items\":
        [\n                                  {\n                                    \"menuNavigationItemRenderer\":
        {\n                                      \"text\": {\n                                        \"runs\":
        [\n                                          {\n                                            \"text\":
        \"Shuffle play\"\n                                          }\n                                        ]\n
        \                                     },\n                                      \"icon\":
        {\n                                        \"iconType\": \"MUSIC_SHUFFLE\"\n
        \                                     },\n                                      \"navigationEndpoint\":
        {\n                                        \"clickTrackingParams\": \"CLQCEJrzBRgAIhMIzYuos4zklQMVGE1IAB0TmgA1mgEDQI4DygEEv0xFSA==\",\n
        \                                       \"watchPlaylistEndpoint\": {\n                                          \"playlistId\":
        \"RDCLAK5uy_nTrZv_l4MePsiP0ygfMSfJ0n1zXVsRTQE\",\n                                          \"params\":
        \"wAEB8gECGAE%3D\"\n                                        }\n                                      },\n
        \                                     \"trackingParams\": \"CLQCEJrzBRgAIhMIzYuos4zklQMVGE1IAB0TmgA1\"\n
        \                                   }\n                                  },\n
        \                                 {\n                             [...]
- request:
    body: '{"browseId": "FEmusic_home", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20260721.01.00", "hl": "en"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtzOXNXNDVpN0hpcyjLo_7SBjIKCgJBUhIEGgAgbWLfAgrcAjIwLllUPWJkRHYtaFVFTVM5eXdTdkd2alBNWUVqR0VtWjdKRzRPMmZDTmx0b0NPSV8tbDZHRWJRaXBoNjI3djFDRWJUbE4wQTZMbEtMWUJqZl8tenEwLU1tR09IZzlOSkFmOWtpbzFELU1vVHlJZGhVemctRUxYcEZ6X1Byd2ZYQW9wbHZjcHdBNS1FWUhpVUk3RDVPeV8xdUlHaUhjYUVxZEVoQWtsZXg1SldpajV[...]
