interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"es-419\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"vjBvCdhlm6EJaoYPIN55gA\">window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({'country_code': 'AR', 'gtm.start': new Date().getTime(),
        event: 'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"vjBvCdhlm6EJaoYPIN55gA\"></script><script nonce=\"vjBvCdhlm6EJaoYPIN55gA\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"browseId": "FEmusic_home", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20260721.01.00", "hl": "en"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgt1LTByREtaTHVLTSiQnf7SBjIKCgJBUhIEGgAgD2LfAgrcAjIwLllUPWl5T01mZldMNEpmanloM2VOenF5RDdSelF2VW9XR0ZoTnFhWDFHQ0p6VGZldENhOW9GMlFhZXlCRVNYdlp3eWVJT195SDl2QXM1TGswWXdTOThWVnR5TXhFSVpGaW9jV2lzQWpwbjRvaXZQYlVwTXB0SjBobml6aWVJZlZMbk9DTGg3WF9keEpLalQwM25zeXd5NTdURTRBVWFXMVJVUU5ONXVWVVRUMjE1TWtqMDZZTHk3bVBpdnN3T0xYU3BXeUlheEtDS0RpdDZUbF84VzcxZG5ETFljeDV5SVVMZmtINVB5ekdpN2EteW5vZzNMaGdYRVJFWVhvTG83OTFMa2ViTHpERlF2Z0pJeG9jcE0xcHVzcGNHTGh4V2E2MTRGVm9xdWJSYVlmdjVUaExKMXFOSHNieGVxNWpBZW1xV093WVJoUEdIZUdxRFA1U0pSTzI4cVg4dw%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/browse?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"browse_id\",\n            \"value\": \"FEmusic_home\"\n
        \         },\n          {\n            \"key\": \"browse_id_prefix\",\n            \"value\":
        \"\"\n          },\n          {\n            \"key\": \"logged_in\",\n            \"value\":
        \"0\"\n          }\n        ]\n      },\n      {\n        \"service\": \"CSI\",\n
        \       \"params\": [\n          {\n            \"key\": \"c\",\n            \"value\":
        \"WEB_REMIX\"\n          },\n          {\n            \"key\": \"cver\",\n
        \           \"value\": \"1.20260721.01.00\"\n          },\n          {\n            \"key\":
        \"yt_li\",\n            \"value\": \"0\"\n          },\n          {\n            \"key\":
        \"GetBrowseHomePage_rid\",\n            \"value\": \"0x43ead59a05eee86b\"\n
        \         }\n        ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n
        \       \"params\": [\n          {\n            \"key\": \"client.version\",\n
        \           \"value\": \"1.20000101\"\n          },\n          {\n            \"key\":
        \"client.name\",\n            \"value\": \"WEB_REMIX\"\n          }\n        ]\n
        \     }\n    ],\n    \"maxAgeSeconds\": 300,\n    \"responseId\": \"IhMI4tSpqYnklQMVKYbwAB0oGj1o\"\n
        \ },\n  \"contents\": {\n    \"singleColumnBrowseResultsRenderer\": {\n      \"tabs\":
        [\n        {\n          \"tabRenderer\": {\n            \"endpoint\": {\n
        \             \"clickTrackingParams\": \"CAIQ8JMBGAAiEwji1KmpieSVAxUphvAAHSgaPWjKAQQYiMQV\",\n
        \             \"browseEndpoint\": {\n                \"browseId\": \"FEmusic_home\"\n
        \             }\n            },\n            \"title\": \"Home\",\n            \"selected\":
        true,\n            \"content\": {\n              \"sectionListRenderer\":
        {\n                \"contents\": [\n                  {\n                    \"musicCarouselShelfRenderer\":
        {\n                      \"header\": {\n                        \"musicCarouselShelfBasicHeaderRenderer\":
        {\n                          \"title\": {\n                            \"runs\":
        [\n                              {\n                                \"text\":
        \"Throwback jams\"\n                              }\n                            ]\n
        \                         },\n                          \"strapline\": {\n
        \                           \"runs\": [\n                              {\n
        \                               \"text\": \"HITS FROM EVERY DECADE\"\n                              }\n
        \                           ]\n                          },\n                          \"accessibilityData\":
        {\n                            \"accessibilityData\": {\n                              \"label\":
        \"HITS FROM EVERY DECADE Throwback jams\"\n                            }\n
        \                         },\n                          \"headerStyle\": \"MUSIC_CAROUSEL_SHELF_BASIC_HEADER_STYLE_DEFAULT\",\n
        \                         \"trackingParams\": \"CIgDEIi8BCITCOLUqamJ5JUDFSmG8AAdKBo9aA==\"\n
        \                       }\n                      },\n                      \"contents\":
        [\n                        {\n                          \"musicTwoRowItemRenderer\":
        {\n                            \"thumbnailRenderer\": {\n                              \"musicThumbnailRenderer\":
        {\n                                \"thumbnail\": {\n                                  \"thumbnails\":
        [\n                                    {\n                                      \"url\":
        \"https://yt3.googleusercontent.com/yGNadocxwddbuCTLoDu1aqLOZ7qM6BdOsEpp8mos37i9S1eSfPDIp6ULD-vRx0tBxcPqfcABk1DWp8k=w226-h226-l90-rj\",\n
        \                                     \"width\": 226,\n                                      \"height\":
        226\n                                    },\n                                    {\n
        \                                     \"url\": \"https://yt3.googleusercontent.com/yGNadocxwddbuCTLoDu1aqLOZ7qM6BdOsEpp8mos37i9S1eSfPDIp6ULD-vRx0tBxcPqfcABk1DWp8k=w544-h544-l90-rj\",\n
        \                                     \"width\": 544,\n                                      \"height\":
        544\n                                    }\n                                  ]\n
        \                               },\n                                \"thumbnailCrop\":
        \"MUSIC_THUMBNAIL_CROP_UNSPECIFIED\",\n                                \"thumbnailScale\":
        \"MUSIC_THUMBNAIL_SCALE_ASPECT_FILL\",\n                                \"trackingParams\":
        \"CIcDEIS_AiITCOLUqamJ5JUDFSmG8AAdKBo9aA==\"\n                              }\n
        \                           },\n                            \"aspectRatio\":
        \"MUSIC_TWO_ROW_ITEM_THUMBNAIL_ASPECT_RATIO_SQUARE\",\n                            \"title\":
        {\n                              \"runs\": [\n                                {\n
        \                                 \"text\": \"\xC9xitos De Los '00s\",\n                                  \"navigationEndpoint\":
        {\n                                    \"clickTrackingParams\": \"CPYCEKCzAhgAIhMI4tSpqYnklQMVKYbwAB0oGj1oygEEGIjEFQ==\",\n
        \                                   \"browseEndpoint\": {\n                                      \"browseId\":
        \"VLRDCLAK5uy_l4nPTGCQJbXLJMG9LkXLSEHC1POaNQwig\",\n                                      \"params\":
        \"ggMEgAKOAw%3D%3D\",\n                                      \"browseEndpointContextSupportedConfigs\":
        {\n                                        \"browseEndpointContextMusicConfig\":
        {\n                                          \"pageType\": \"MUSIC_PAGE_TYPE_PLAYLIST\"\n
        \                                       }\n                                      }\n
        \                                   }\n                                  }\n
        \                               }\n                              ]\n                            },\n
        \                           \"subtitle\": {\n                              \"runs\":
        [\n                                {\n                                  \"text\":
        \"Shakira, Babasonicos, Gustavo Cerati, Miranda\"\n                                }\n
        \                             ]\n                            },\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CPYCEKCzAhgAIhMI4tSpqYnklQMVKYbwAB0oGj1oygEEGIjEFQ==\",\n
        \                             \"browseEndpoint\": {\n                                \"browseId\":
        \"VLRDCLAK5uy_l4nPTGCQJbXLJMG9LkXLSEHC1POaNQwig\",\n                                \"params\":
        \"ggMEgAKOAw%3D%3D\",\n                                \"browseEndpointContextSupportedConfigs\":
        {\n                                  \"browseEndpointContextMusicConfig\":
        {\n                                    \"pageType\": \"MUSIC_PAGE_TYPE_PLAYLIST\"\n
        \                                 }\n                                }\n                              }\n
        \                           },\n                            \"trackingParams\":
        \"CPYCEKCzAhgAIhMI4tSpqYnklQMVKYbwAB0oGj1o\",\n                            \"menu\":
        {\n                              \"menuRenderer\": {\n                                \"items\":
        [\n                                  {\n                                    \"menuNavigationItemRenderer\":
        {\n                                      \"text\": {\n                                        \"runs\":
        [\n                                          {\n                                            \"text\":
        \"Shuffle play\"\n                                          }\n                                        ]\n
        \                                     },\n                                      \"icon\":
        {\n                                        \"iconType\": \"MUSIC_SHUFFLE\"\n
        \                                     },\n                                      \"navigationEndpoint\":
        {\n                                        \"clickTrackingParams\": \"CIYDEJrzBRgAIhMI4tSpqYnklQMVKYbwAB0oGj1omgEDQI4DygEEGIjEFQ==\",\n
        \                                       \"watchPlaylistEndpoint\": {\n                                          \"playlistId\":
        \"RDCLAK5uy_l4nPTGCQJbXLJMG9LkXLSEHC1POaNQwig\",\n                                          \"params\":
        \"wAEB8gECGAE%3D\"\n                                        }\n                                      },\n
        \                                     \"trackingParams\": \"CIYDEJrzBRgAIhMI4tSpqYnklQMVKYbwAB0oGj1o\"\n
        \                                   }\n                                  },\n
        \                                 {\n                             [...]
