interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"es-419\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"L-WZrxlHKR0j82GLWTAtjw\">window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({'country_code': 'AR', 'gtm.start': new Date().getTime(),
        event: 'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"L-WZrxlHKR0j82GLWTAtjw\"></script><script nonce=\"L-WZrxlHKR0j82GLWTAtjw\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"browseId": "FEmusic_explore", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20260721.01.00", "hl": "en"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgsxc015SkR0YWQwMCiSnf7SBjIKCgJBUhIEGgAgKmLfAgrcAjIwLllUPWU1bFo5UGhPVkVKVDFyZjh0Y3Q2LTlFZXJiUTRYZHhfU0ZjVGE3NjdXMEZfc2VleEMtbHAyQ3c4SXpxdFFiek9uemdhVkhRT2pwLTIxM19kNXBUMUhUTmpSMmt4b0E4T1BlUTBqemZsZm9pUDczUnpaaXpGb2tzWWRnTkFtOTBMWEh1Sl9BTzhaemlBU3dMNHBzVzhBRzg2M0JoYVJHSG43LU5zeFZ5WWVXcmVmb0JfT2pvY3BmbkVWMGFNRk1QTk1YN3VMNTN5aVY0V25mWVZ6cWhhLWgwOFRPNXpxSjNXbTVqNTNnendGLVRTdkQ4UERFMmZ5RUlEQm5OTl9aZGtYb3RjNVdDWS0zUDRyR2ExVG9BRkk4YnVjb3BEWHlJbzFsMGhlZEI3YzE0MS1kX2RZSE1BOThqUldQNkNZbEhoQmFZblZFNXN1c2NLVl9LYVBSb1hSdw%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/browse?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"browse_id\",\n            \"value\": \"FEmusic_explore\"\n
        \         },\n          {\n            \"key\": \"browse_id_prefix\",\n            \"value\":
        \"\"\n          },\n          {\n            \"key\": \"logged_in\",\n            \"value\":
        \"0\"\n          }\n        ]\n      },\n      {\n        \"service\": \"CSI\",\n
        \       \"params\": [\n          {\n            \"key\": \"c\",\n            \"value\":
        \"WEB_REMIX\"\n          },\n          {\n            \"key\": \"cver\",\n
        \           \"value\": \"1.20260721.01.00\"\n          },\n          {\n            \"key\":
        \"yt_li\",\n            \"value\": \"0\"\n          },\n          {\n            \"key\":
        \"GetBrowseExplorePage_rid\",\n            \"value\": \"0xbdf7ec81e00b41c1\"\n
        \         }\n        ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n
        \       \"params\": [\n          {\n            \"key\": \"client.version\",\n
        \           \"value\": \"1.20000101\"\n          },\n          {\n            \"key\":
        \"client.name\",\n            \"value\": \"WEB_REMIX\"\n          }\n        ]\n
        \     }\n    ],\n    \"responseId\": \"IhMI6LCDqonklQMVd4bwAB3U6Dt8\"\n  },\n
        \ \"contents\": {\n    \"singleColumnBrowseResultsRenderer\": {\n      \"tabs\":
        [\n        {\n          \"tabRenderer\": {\n            \"endpoint\": {\n
        \             \"clickTrackingParams\": \"CAEQ8JMBGAAiEwjosIOqieSVAxV3hvAAHdToO3zKAQTljbHB\",\n
        \             \"browseEndpoint\": {\n                \"browseId\": \"FEmusic_explore\"\n
        \             }\n            },\n            \"selected\": true,\n            \"content\":
        {\n              \"sectionListRenderer\": {\n                \"contents\":
        [\n                  {\n                    \"gridRenderer\": {\n                      \"items\":
        [\n                        {\n                          \"musicNavigationButtonRenderer\":
        {\n                            \"buttonText\": {\n                              \"runs\":
        [\n                                {\n                                  \"text\":
        \"New releases\"\n                                }\n                              ]\n
        \                           },\n                            \"clickCommand\":
        {\n                              \"clickTrackingParams\": \"CJcJELihBRgAIhMI6LCDqonklQMVd4bwAB3U6Dt8ygEE5Y2xwQ==\",\n
        \                             \"browseEndpoint\": {\n                                \"browseId\":
        \"FEmusic_new_releases\"\n                              }\n                            },\n
        \                           \"trackingParams\": \"CJcJELihBRgAIhMI6LCDqonklQMVd4bwAB3U6Dt8\",\n
        \                           \"iconStyle\": {\n                              \"icon\":
        {\n                                \"iconType\": \"MUSIC_NEW_RELEASE\"\n                              }\n
        \                           }\n                          }\n                        },\n
        \                       {\n                          \"musicNavigationButtonRenderer\":
        {\n                            \"buttonText\": {\n                              \"runs\":
        [\n                                {\n                                  \"text\":
        \"Charts\"\n                                }\n      [...]
